---
import CustomSection from '@builders/custom-section/CustomSection.astro';
import Heading from '@core-elements/heading/Heading.astro';
import Image from '@core-elements/image/Image.astro';
import Text from '@core-elements/text/Text.astro';
import Card from '@wrappers/card/Card.astro';
import Split from '@wrappers/split/Split.astro';

type TagItem = { label: string };

const {
  heading = '',
  subtext = '',
  imageSource = '',
  imageAlt = '',
  tags = [],
  reverse = false,
  colorScheme = 'inherit',
  backgroundColor,
  link,
  class: className,
  useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={['full-content-card', className]}
  maxContentWidth="2xl"
  paddingHorizontal="md"
  paddingVertical="lg"
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  useDefaultEditableBinding={useDefaultEditableBinding}
  {...htmlAttributes}
>
  <Card
    class:list={["feature-item", className]}
    paddingHorizontal="lg"
    paddingVertical="2xl"
    rounded
    border={false}
    backgroundColor="base"
    link={link}
  >
    <Split
      class="full-content-card-layout"
      distributionMode="half"
      minSplitWidth={720}
      reverse={reverse}
      verticalAlignment="center"
      gap="lg"
    >
      <Image
        slot="first"
        class="full-content-card-image"
        source={imageSource}
        alt={imageAlt}
        aspectRatio="landscape"
        rounded={true}
        data-prop-src="imageSource"
        data-prop-alt="imageAlt"
      />
      <Fragment slot="second">
        <Heading
          level="h2"
          size="sm"
          data-prop="heading"
        >
          {heading}
        </Heading>
        <Text
          class="subtext"
          data-prop="subtext"
          text={subtext}
        />
        {tags.length > 0 && (
          <ul class="tags">
            {tags.map((tag: TagItem) => (
              <li class="tag">{tag.label}</li>
            ))}
          </ul>
        )}
      </Fragment>
    </Split>
  </Card>
</CustomSection>

<style>
  @import "/src/styles/variables/_breakpoints.css";

  @layer page-sections {
    .subtext {
      margin-top: 0;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-sm);
      list-style: none;
      margin-block-start: var(--spacing-lg);
      margin-block-end: 0;
      padding: 0;
    }

    .tag {
      background-color: #F2EFDE;
      border-radius: var(--radius-full);
      color: var(--color-text);
      font-size: var(--font-size-xs);
      padding: var(--spacing-xs) var(--spacing-md);
    }

    @media (--bp-md) {
      .full-content-card {
        :global(.split-inner) {
          gap: var(--spacing-3xl);
        }
        :global(> .outer-content > .content) {
          padding-inline: var(--spacing-lg);
          padding-block: var(--spacing-4xl);
        }
      }
      .feature-item {
        :global(.card-content) {
          padding-inline: var(--spacing-3xl);
        }
      }
      .subtext {
        :global(.text-inner p) {
          font-size: var(--font-size-xl);
        }
      }
      :global(.heading-inner) {
        font-size: var(--font-size-heading-4xl);
        line-height: 1.2;
      }
      .tag {
        font-size: var(--font-size-sm);
        padding: var(--spacing-sm) var(--spacing-md);
      }
    }
  }
</style>
