---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Image from "@core-elements/image/Image.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import Tag from "@core-elements/tag/Tag.astro";
import Text from "@core-elements/text/Text.astro";
import ButtonGroup from "@wrappers/button-group/ButtonGroup.astro";
import Grid from "@wrappers/grid/Grid.astro";
import GridItem from "@wrappers/grid/GridItem.astro";

const {
  eyebrow = "",
  heading = "",
  subtext = "",
  tags = [],
  buttonSections = [],
  images,
  backgroundColor,
  class: className,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["hero-story", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="none"
  colorScheme="inherit"
  backgroundColor={backgroundColor}
  {...htmlAttributes}
>
  <Grid layout="start" class:list={["hero-story__grid"]}>
    <GridItem class:list={["hero-story__text"]}>
      <SimpleText
        class="eyebrow"
        data-prop="eyebrow"
        size="sm"
        text={eyebrow}
      />
      <Heading
        level="h1"
        size="2xl"
        data-prop="heading"
      >
        {heading}
      </Heading>
      <Text
        class="subtext"
        data-prop="subtext"
        text={subtext}
      />
    </GridItem>
    <GridItem class:list={["hero-story__buttons"]}>
      <ButtonGroup
        class="buttonSections"
        buttonSections={buttonSections}
        data-children-prop="buttonSections"
      />
    </GridItem>
    <GridItem class:list={["hero-story__img", "hero-story__img--primary"]}>
      <Image
        source={images.imageSource_1}
        alt={images.imageAlt_1}
        rounded={true}
        aspectRatio="portrait"
        data-prop-src="images.imageSource_1"
        data-prop-alt="images.imageAlt_1"
        priority={true}
      />
    </GridItem>
    <GridItem class:list={["hero-story__img", "hero-story__img--secondary"]}>
      <Image
        source={images.imageSource_2}
        alt={images.imageAlt_2}
        rounded={true}
        aspectRatio="portrait"
        data-prop-src="images.imageSource_2"
        data-prop-alt="images.imageAlt_2"
        priority={true}
      />
    </GridItem>
    <GridItem class:list={["hero-story__img", "hero-story__img--tertiary"]}>
      <Image
        source={images.imageSource_3}
        alt={images.imageAlt_3}
        rounded={true}
        aspectRatio="horizontal-strip"
        data-prop-src="images.imageSource_3"
        data-prop-alt="images.imageAlt_3"
        priority={true}
      />
    </GridItem>
    <div class:list={["hero-story__stroke", "hero-story__stroke--1"]}></div>
    <div class:list={["hero-story__stroke", "hero-story__stroke--2"]}></div>
    <div class:list={["hero-story__stroke", "hero-story__stroke--3"]}></div>
    <div class:list={["hero-story__stroke", "hero-story__stroke--4"]}></div>
    {tags.length > 0 && tags.map((tag: any, index: number) => (
      <Tag class:list={["hero-story__tag", `hero-story__tag--${index + 1}`]} text={tag.text} color={tag.color} iconName={tag.iconName} />
    ))}
  </Grid>
</CustomSection>

<style>
  @import "/src/styles/variables/_breakpoints.css";

  @layer page-section {
    .hero-story {
      --stroke-color-1: var(--color-bg-highlight-border-1);
      --stroke-color-2: var(--color-bg-highlight-border-2);
      --stroke-color-3: var(--color-bg-highlight-border-3);
      --stroke-color-4: var(--color-bg-highlight-border-4);
      --z-index-stroke: 1;
      --z-index-image: 2;
      --z-index-tag: 3;
      --z-index-content: 4;
      overflow: hidden;
      :global(.heading) + .subtext {
        margin-top: 0;
      }
      :global(.image-inner) {
        background-color: var(--stroke-color-1);
      }
    }
    .hero-story__tags {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-xs);
      margin-top: var(--spacing-md);
    }
    .hero-story__grid {
      :global(> .grid-inner.layout-start) {
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 0;
      }
    }
    .hero-story__img {
      position: relative;
      z-index: var(--z-index-image);
      :global(.image) {
        position: relative;
      }
    }
    .hero-story__stroke {
      position: relative;
      z-index: var(--z-index-stroke);
    }
    .hero-story__tag {
      position: relative;
      z-index: var(--z-index-tag);
    }
    .hero-story__text {
      position: relative;
      z-index: var(--z-index-content);
    }

    @media (--bp-md-down) {
      .hero-story {
        --columns: 8;
        &:first-child {
          padding-block-start: 100px;
        }
        padding-block: var(--spacing-xl);
      }
      .hero-story__text {
        grid-column: span 8;
        grid-row: 1;
        padding-block-end: var(--spacing-xl);
        :global(.align-start) {
          text-align: center;
        }
      }
      .hero-story__buttons {
        grid-column: span 8;
        grid-row: 5;
        padding-block-start: var(--spacing-xl);
        :global(.align-start) {
          justify-content: center;
        }
      }
      .hero-story__img--primary {
        grid-column: 3 / span 4;
        grid-row: 2 / span 3;
      }
      .hero-story__img--secondary {
        --offset: calc(100% / 3);
        grid-column: 1 / span 3;
        grid-row: 2 / span 3;
        align-self: end;

        :global(.image) {
          left: calc(calc(var(--spacing-lg) + var(--offset)) * -1);
        }
      }
      .hero-story__img--tertiary {
        --offset: calc(calc(100% / 4) * 2);
        grid-column: 5 / span 4;
        grid-row: 3 / span 2;

        :global(.image) {
          right: calc(calc(var(--spacing-sm) + var(--offset)) * -1);
        }
      }
      .hero-story__stroke--1 {
        grid-column: 1 / span 2;
        grid-row: 2;
        border-top: solid 2px var(--stroke-color-1);
        border-left: solid 2px var(--stroke-color-1);
        border-radius: 1rem 0 0 0;
        transform: translateY(50%);
      }
      .hero-story__stroke--2 {
        grid-column: 7 / span 2;
        grid-row: 3;
        border-bottom: solid 2px var(--stroke-color-2);
        border-right: solid 2px var(--stroke-color-2);
        border-radius: 0 0 1rem 0;
        transform: translateY(40%);
      }
      .hero-story__stroke--3,
      .hero-story__stroke--4 {
        display: none;
      }
      .hero-story__tag {
        place-self: center;
      }
      .hero-story__tag--1,
      .hero-story__tag--2,
      .hero-story__tag--3 {
        grid-column: 2 / span 3;
        grid-row: 4;
      }
    }

    @media (--bp-md) {
      .hero-story {
        --columns: 12;
      }
      .hero-story__grid {
        :global(> .grid-inner.layout-start) {
          grid-template-rows: auto auto auto auto 3rem;
        }
      }
      .hero-story__text {
        grid-column: 6 / span 7;
        grid-row: 2;
        align-self: end;
        padding-block-start: var(--spacing-xl);
      }
      .hero-story__buttons {
        grid-column: 6 / span 7;
        grid-row: 3;
        padding-block-start: var(--spacing-lg);
        padding-block-end: var(--spacing-xl);
      }
      .hero-story__img--primary {
        --offset: calc(100% / 5);
        grid-column: 1 / span 5;
        grid-row: 2 / span 2;
        align-self: center;

        :global(> .grid-item-content) {
          height: auto;
        }

        :global(.image) {
          left: calc(var(--offset) * -1);
        }
      }
      .hero-story__img--secondary {
        --offset: -2rem;
        grid-column: 9 / span 3;
        grid-row: 1;
        margin-bottom: var(--offset);

        :global(.image) {
          top: var(--offset);
        }
      }
      .hero-story__img--tertiary {
        --offset: calc(100% / 5);
        grid-column: 8 / span 5;
        grid-row: 4;

        :global(.image) {
          left: var(--offset);
        }
      }
      .hero-story__stroke--1 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 3;
        border-bottom: solid 2px var(--stroke-color-1);
        border-right: solid 2px var(--stroke-color-1);
        border-radius: 0 0 1rem 0;
        transform: translateX(2px);
        &::before {
          content: '';
          display: block;
          width: 50vw;
          height: 2px;
          background-color: var(--stroke-color-1);
          position: absolute;
          bottom: -2px;
          right: 1rem;
        }
      }
      .hero-story__stroke--2 {
        grid-column: 12;
        grid-row: 1;
        border-bottom: solid 2px var(--stroke-color-2);
        border-right: solid 2px var(--stroke-color-2);
        border-radius: 0 0 1rem 0;
        transform: translateY(-50%);
      }
      .hero-story__stroke--3 {
        grid-column: 6 / span 3;
        grid-row: 4 / span 2;
        border-top: solid 2px var(--stroke-color-3);
        border-left: solid 2px var(--stroke-color-3);
        border-radius: 1rem 0 0 0;
        transform: translateY(calc(50% - 1.5rem));
        &::before {
          content: '';
          display: block;
          width: 50vw;
          height: 2px;
          background-color: var(--stroke-color-3);
          position: absolute;
          top: -2px;
          left: 100%;
        }
      }
      .hero-story__stroke--4 {
        grid-column: 3 / span 6;
        grid-row: 1;
        border-top: solid 2px var(--stroke-color-4);
        border-left: solid 2px var(--stroke-color-4);
        border-radius: 1rem 0 0 0;
        transform: translateY(50%);
      }
      .hero-story__tag {
        place-self: center;
      }
      .hero-story__tag--1 {
        grid-column: 4 / span 4;
        grid-row: 1;
      }
      .hero-story__tag--2 {
        grid-column: 6 / span 3;
        grid-row: 4;
      }
      .hero-story__tag--3 {
        grid-column: 1 / span 4;
        grid-row: 4;
      }
    }

    @media (--bp-xl) {
      .hero-story__text {
        grid-column: 6 / span 5;
      }
      .hero-story__img--primary {
        --offset: 0;
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
        align-self: end;
      }
      .hero-story__stroke--1 {
        grid-row: 4;
      }
    }

    @media (width >= 1900px) {
      .hero-story {
        position: relative;
        &::after {
          content: '';
          border-bottom: solid 2px var(--stroke-color-2);
          border-left: solid 2px var(--stroke-color-2);
          border-radius: 0 0 0 1rem;
          display: block;
          width: 30vw;
          height: 50%;
          left: 50%;
          top: 0;
          position: absolute;
          transform: translateX(1000px);
          z-index: var(--z-index-stroke);
        }
        &::before {
          content: '';
          border-bottom: solid 2px var(--stroke-color-1);
          border-right: solid 2px var(--stroke-color-1);
          border-radius: 0 0 1rem 0;
          display: block;
          width: 50vw;
          height: 30%;
          left: 50%;
          top: 0;
          position: absolute;
          transform: translateX(calc(-1000px - 50vw));
          z-index: var(--z-index-stroke);
        }
      }
    }
  }
</style>
